<div class="ui container" style="position:relative">
  <a class="item header logo menu-item active" href="/">首页 </a>
  {{#each menu}}
    <a href="{{href}}" class="item menu-item {{active}}" data-menu="{{name}}" id="{{id}}">
      <span class="glyphicon glyphicon-{{icon}}"></span> {{label}}
    </a>
  {{/each}}
</div>
